* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(15, 14, 20);
    color: white;
    text-align: center;
}

input {
    width: 75px;
}

.calculator {
    background-color: rgb(44, 44, 57);
    padding: 10px;
    border-radius: 7px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    width: 300px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

.inputs-box {
    float: left;
}

.output-box {
    float: right;
    background-color: rgb(55, 54, 83);
    border-radius: 10px;
}

.one-line {
    display: inline;
}